<nav class="navbar navbar-expand-sm navbar-dark shadow-sm p-4 container-fluid">
    <div class="container-fluid">
        <i class="fa-solid fa-handshake logo"></i>
        <div class="heading">
            <h2>Campus<span style="color: orangered;">Trade</span></h2>
            <p>A student to student market place.</p>
        </div>
        <!-- <img src="./logo.jpeg" alt="logo"> -->
        <!-- <a class="navbar-brand" style="font-size:min(35px,4vw); padding: 0px; margin-top: -5px; margin-bottom: -5px;" href="javascript:void(0)">College Trade</a> -->
        <button class="menubtn" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <span><form class="d-flex searchbar">
                <input class="inpsearch" type="text" placeholder="Search">
                <button class="searchbtn" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form></span>

            <ul class="navbar-nav me-auto">
                <% if(user){ %>
                    <!-- onclick="openProfile('<%=user.id%>','<%=user.password%>') "-->
                    <span class="nav-link" >
                        Hi,
                        <form class="d-inline" method="POST" action="/api/user">
                            <input type="hidden" name="userId" value="<%=user.id%>"/>
                            <input type="hidden" name="pass" value="<%=user.password%>" />
                            <b><button class="btn btn-primary" type="submit"><%=user.name%></button></b>
                        </form>
                    </span>
                 <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/login.html"  >Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/register.html"  >Sign Up</a>
                    </li>
                  <% } %>
                
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/devs.html">Developers</a>
                </li>
            </ul>

        </div>
    </div>
</nav>